@charset "UTF-8";
.navigation {
  height: 70px;
  background: #ffffff;
}
html,
body,
header,
.view {
  height: 100%;
}

.bg{
  background-image: url("../img/auditorio.jpg");
  height: 125%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
  z-index: 1;
  
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #171F38;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.img-fluid_imagen {
    width: 170px;
    height: 45px;
    margin-left: -121px;
    margin-right: 5px;
    z-index: 1;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  .img-fluid_imagen {
    margin-left: 1px;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
    position: absolute;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
 
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
 
}
.imgcuenta{
  width: 20px;
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #171F38;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/***/
.container-md{
  background-image: url(../img/Clases.jpg);
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  -webkit-filter: grayscale(36%); 
  filter: grayscale(36%);
  
}

.container-md h5{
  text-align: center;
  color: #ffffff;
  padding-top: 67px;
  padding-bottom: 50px;
  height: 2px;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.1em;
  z-index: 1;
}
.container-md p{
  text-align: center;
  color: #ffffff;
  padding-top: 72px;
  box-sizing: border-box;
  font-size: 37px;

}
.container-md .container img{
  width: 117px;
}

/*#171F38*/
.imgcurso{
  width: 150px;
  height: 200px;
  background-image: url(../img/diploma.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  border-radius: 10px;
}
.listacursos,.listacursos2{
  width: 750px;
  border: solid black 1px;
  
}


input[type="checkbox"]{
  margin-left: 14%;
  top: 45%;
  position: absolute;
  
}
.titulo{
  color: #171F38;
  padding-left: 7%;
}
.pestado{
  margin-left: 65%;
}

.imgcursos{
  width: 230px;
  height: 140px;
}


.divmiscursos{
  padding-top: 5%;
  padding-bottom: 10%;
}
.form_wrapper {
  background: #fff;
  width: 550px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 6% auto 0;
  position: relative;
  border-radius: 5px;
 
  border-top: 5px solid #BD1823;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 10);
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 31px;
}
.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
  
}
.form_wrapper .col_half {
  width: 50%;
  float: left;
  
}
.form_wrapper .col_half a{
  text-decoration: none;

}

.form_container .row .col_half.last {
  border-left: 2px solid #ccc;
}

.remember_me {
  display: flex;
}
@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }

  .bottom_row .col_half {
    width: 50%;
    float: left;
  }

  .form_container .row .col_half.last {
    border-left: none;
  }

  .remember_me {
    padding-bottom: 20px;
  }
}
input[type="submit"] {
  background: #BD1823;
  height: 47px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
input[type="submit"]:hover {
  background: rgb(206, 85, 93);
}
input[type="submit"]:focus {
  background: rgb(206, 85, 93);
}
 input[type="checkbox"] {
  margin-right: 2px;
}
.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header-success {
  background: rgb(206, 85, 93);
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.icon-box-success img{
  width: 70px;
}
#btn-continuar {
  position: relative;
  background-color: rgb(206, 85, 93);
  border-color: rgb(206, 85, 93);
  top: 1em;
  right: 0.5em;
}
@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 998px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.712);
  display: table;
  cursor: pointer;
  color: #000000;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.rows {
  display: table-row;
  background: #f6f6f6;
}
.rows:nth-of-type(odd) {
  background: #e9e9e9;
}
.rows.header {
  color: #ffffff;
}

.rows.blue {
  background: #171F38;
}
@media screen and (max-width: 580px) {
  .rows {
    padding: 14px 0 7px;
    display: block;
  }
  .rows.header {
    padding: 0;
    height: 6px;
  }
  .rows.header .cell {
    display: none;
  }
  .rows .cell {
    margin-bottom: 10px;
    
  }
  .rows .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}
.approve{
  background-color: #00872E;
}
.inprogress{
  background-color: rgb(245, 230, 94);
}
table{
text-align: center;

}
/* .accor{
  text-align: justify;
  left: 15%;
} */
th{
  background-color: #171F38;
  color: #ffffff;
}
.txtaprove{
  background-color: rgb(15, 194, 54) ;
  color: #000000;
  font-weight: 15px;
}
.checkimg{
  background-color: #00872E ;
  width: 20px;
  
}

